<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Leaftaps</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>18/09/15 13:00:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead()[pri:0, instance:testcase.TC002_CreateLead@286778]">CreateLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 12:59:08</td>   <td>-53927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_MregeLead.MergeLead()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">MergeLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 13:00:56</td>   <td>54640</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 12:59:01</td>   <td>-60978</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 12:59:55</td>   <td>-6379</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.TC002_CreateLead@286778]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 13:00:45</td>   <td>43091</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.TC001_LoginAndLogOut@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 12:59:00</td>   <td>-61392</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 12:59:01</td>   <td>-60987</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogOut.beforeTest()[pri:0, instance:testcase.TC001_LoginAndLogOut@9ba398]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/09/15 12:59:01</td>   <td>-60987</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.beforeTest()[pri:0, instance:testcase.TC002_CreateLead@286778]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/15 12:59:01</td>   <td>-60985</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_MregeLead.beforeTest()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 12:59:55</td>   <td>-6442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 13:00:45</td>   <td>42976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.TC002_CreateLead@286778]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 13:00:56</td>   <td>54552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.TC001_LoginAndLogOut@9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 12:59:01</td>   <td>-60958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.TC003_MregeLead@bca1e0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/15 12:59:55</td>   <td>-6379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase.TC002_CreateLead@286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/15 13:00:45</td>   <td>43091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:testcase.TC001_LoginAndLogOut@9ba398]">login</td> 
  <td>main@24346938</td>   <td></td> </tr>
</table>
