<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee68d8">  <td>18/12/27 22:07:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.TC002_CreateLead@109bb57]">CreateLead</td> 
  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/27 22:07:26</td>   <td>5437</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase.TC002_CreateLead@109bb57]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/27 22:07:07</td>   <td>-13644</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.TC002_CreateLead@109bb57]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/27 22:07:07</td>   <td>-13908</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.TC002_CreateLead@109bb57]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/12/27 22:07:07</td>   <td>-13658</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.beforeTest()[pri:0, instance:testcase.TC002_CreateLead@109bb57]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/27 22:07:26</td>   <td>5093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase.TC002_CreateLead@109bb57]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
<tr bgcolor="aba872">  <td>18/12/27 22:07:09</td>   <td>-12044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String)[pri:0, instance:testcase.TC002_CreateLead@109bb57]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@16699734</td>   <td></td> </tr>
</table>
